
<div class="bimg" style=" height: 700px">
    <div class="content">
   
        <div class="w3-top">
            <div class="w3-bar w3-wide">
                <a href="#page-top" class="w3-bar-item nav "><b><h1>SANCTION SCREENING</h1></b></a>
                <a href="#transdetails" class="w3-bar-item"><h5><b>TRANSACTION</b></h5></a>
                <a href="#piechart" class="w3-bar-item"><h5><b>PIECHART</b></h5></a>
            </div>
        </div>

        <h2>Welcome To</h2>
        <h4>SANCTION SCREENING PORTAL</h4>
        <h6>The website aims at providing the list of transactions taking place in a bank</h6>
        <h6>with the status of each transaction being statistically compared.</h6>
    </div>
</div>

<div  id="transdetails" class="trans-section" style="height:700px;padding:4%">
    <app-transaction-table></app-transaction-table>
</div>

<div id="piechart" class="pie-section">
    <app-piechart></app-piechart>

    <footer>
        <p class="copyright">Copyright © NPMJ 2018</p>

        <div class="pull-right">
                <a href="https://www.facebook.com/citi"><li  class="fa fa-facebook" fa-square  fa=10x></li></a>&nbsp;&nbsp;&nbsp;
                <a href="https://github.com/EnginerdsGroup2"><li class="fa fa-github" aria-hidden="true"></li></a>&nbsp;&nbsp;&nbsp;
                <a href="https://twitter.com/Citi"><li class="fa fa-twitter" aria-hidden="true"></li></a>&nbsp;&nbsp;&nbsp;
                <a href="https://nisthabhawsinka.wordpress.com/2018/03/20/citi-bridge-voyage/"><li class="fa fa-wordpress" aria-hidden="true"></li></a>&nbsp;&nbsp;&nbsp;
        </div>
    </footer>
</div>
